src/main/java/com/zone/common/config/spring-custom.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.test.org/schema/custom" xmlns="http://www.test.org/schema/custom"
            elementFormDefault="qualified">

    <xsd:annotation>
        <xsd:documentation><![CDATA[
			自定义标签
		]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="test">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="pointcut" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
